* {
  border: 1px solid red;
}

.top {
  height: 40px;
  width: 100vw;
  background: red;
}

.middle {
  height: 100vh;
  width: 80vw;
  background: yellow;
  position: relative;
  top: 40px;
}

.aside {
  top: 50px;
  right: 0;
  height: 100vh;
  width: 20vw;
  background: blue;
  z-index: 999;
}

.absolute {
  position: absolute;
}

.inside-header {
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;
}

.inside-content {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
  top: 20px;
  overflow: scroll;
}
